
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:ffffff;
}
.header{
    background-color:orangered;
    color:aliceblue;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius:15px;
}
.logo

{
    width:200px;
}
a {
    text-decoration:none;
    color:aliceblue
}

.nav{
    width:400px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.produto
{
    margin:10px;
   
    background-color: white;
   border-radius:30px;
   display: flex;
   
   align-items: center;
  box-shadow: 10px 10px  5px rgba(15, 23, 42, 0.05);
  padding:20px;
  border:1px solid rgb(206, 201, 201)
  
}
 .Imagem2,.Imagem3, .Imagem4, .Imagem5{
    width: 70px;
    margin-left: 10px;
     border:1px solid rgb(88, 87, 87);
     border-radius:10px;

}
.Imagem
{
    border:1px solid rgb(88, 87, 87);
     border-radius:10px;

}
.imgs_menor
{
    margin-top: 20px;
    display:flex;
justify-content: center;
}
.imgS
{
    padding:20px;
    display:flex;
    flex-direction: column;
}
.Imagem2
{
    border: 3px solid orangered;
}
.Lcm{
    width:130px;
    background-color: orangered;
    color:white;
    border-radius:15px;
    font-size:12px;
    display:flex;
    justify-content: center;
}
.topo
{
    display:flex;
    flex-direction: column;
    padding:20px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
.titulo{
    margin:10px;
    color:black;
    font-size:30px;
}
.preco{
   margin:10px;
    font-size:30px;
    display:flex;
    justify-content: flex-start;
    color:orangered;
}
.estoque
{
    font-size:10px;
    background-color:green;
  
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    width:80px;
    
}
.coluna
{
    display:flex;
    justify-content:  space-evenly;
}

.especial
{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.est{
    font-size:10px;
}

.alcance

{
    width:30px;
}
.metros{
    font-size:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.alc{
display:flex;
justify-content: space-around;
align-items: center;
background-color: aliceblue;
width:110px;
border-radius:15px;
margin-bottom:10px;
padding:5px;
}
.bat

{
    width:30px;
}
.bateria{
    font-size:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.duracao{
display:flex;
justify-content: space-around;
align-items: center;
background-color: aliceblue;
width:110px;
border-radius:15px;
margin-bottom:10px;
padding:5px;

}
.flash

{
    width:30px;
}
.raio{
    font-size:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.carregamento{
display:flex;
justify-content: space-around;
align-items: center;
background-color: aliceblue;
width:110px;
border-radius:15px;
margin-bottom:10px;
padding:5px;
}
.caracteristicas
{
    display:flex;
    justify-content: space-around;
    margin-bottom: 20px;
   
}
.footer {

    padding: 25px 0;
    color: #64748b;
    background-color: #ffffff;
    border-top: 1px solid #e5e7eb;
    text-align: center;
    font-size: 0.9rem;
     display:flex;
    flex-direction: column;
    align-items: center;

    
}
   


.card {
    display:flex;
    flex-direction:row;;
    justify-content: center;
    padding:30px;
    
}
.estrelas{
    width:20px;
    display: flex;
    align-items:center;

}
span{
    margin-left: 10px;
    font-size: 12px;

    
}

@media (max-width: 768px) {  /*Quando a tela tiver 768px, coloque os cards em uma coluna*/
    .task-list {
        grid-template-columns: 1fr;
    }

   body > .comprar,.carrinho  { /*coloca o input e o botão um em baixo do outro*/
        flex-direction: column;
    }
}

.carrinho-img{
    width:30px;
   filter: invert(1);      /* inverte a cor da imagem*/
  
    
}
.carrinho2-img{
    width:20px;
   filter: invert(1);      /* inverte a cor da imagem*/
    padding:10px
    
}
.carrinho3-img{
    width:20px;
    padding:10px
    
}


.Frete, .escudo, .fone, .qualidade{
    width:40px;
    align-items: center;
   
}

.selos
{
    display:flex;
    justify-content: space-around;
}

#Frte, #seg1, #sup1, #qlt1
{
color:black;
}
#Frt, #seg2, #sup2, #qlt2
{
    color:#64748b;
}

.frete, .seguranca, .suporte, .quality
{
    display:flex;
    font-size: 12px;
    width:200px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    
}

.botao1
{
    color:white;
    background-color:orangered;
    border-radius: 5px;
    width:400px;
    height:35px;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 10px;
}
.botao2
{
    color:orangered;
    background-color:white;
    border-radius:5px;
    border:1px solid orangered;
    width:400px;
    height:35px;
    display:flex;
    justify-content: center;
    align-items:center;
margin-bottom: 10px;
}
.botoes

{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.Cadeado{
    width:30px;
}
.percentual{
font-size:12px
}
.segCom
{
width: 150px;
display:flex;
justify-content:space-around;
}
.Garantia{
    width:30px;
}
.check{
font-size:12px
}
.gar
{
width: 150px;
display:flex;
justify-content:space-around;
}
.Devolucao{
    width:30px;
}
.Setas{
font-size:12px
}
.Dev
{
width: 150px;
display:flex;
justify-content:space-around;

}
.selos2
{
    display:flex;
    justify-content: space-around;
    padding:10px;
}
.descricao
{
    margin:20px;
}